<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load crispy_forms_tags %}
    <head>
        <style>
            .csssearch{
            width:100px;
            float:left;
            margin-top: 0px;
            margin-right: 40px;
            margin-bottom: 0px;
            margin-left:40px;
            }
            select{
            width:130px;
            }
            .csssearch1{
            width:90px;
            float:left;
            margin-top: 0px;
            margin-right: 40px;
            margin-bottom: 0px;
            margin-left: 25px;
            }
            select{
            height:26px;
            }
            input{
            margin:20px;
            width:120px;
            }
            .submit-button{
            background-color: #8BC34A;
            color:white;
            border-color:#8BC34A;
            float:left;
            margin-top:15px;
            padding:5px 15px 5px 15px;
            margin-left: 25px;
            }
            .submit-button:hover{
            color:#fff;background-color:#477d07;
            }
            .submit-button1{
            padding:5px 5px 5px 5px;
            }
            .submit-button1:hover{
            color:#fff;background-color:#477d07;border-color:#477d07;
            }
            table tbody tr.listnone:hover {
            background-color: #ebfdf1;
            }
        input:focus, textarea:focus, select:focus{
                outline: none;
            }
        </style>

        {% include 'include/includecss.html' %}
         <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"  href="{% static 'home/list/css/bootstrap.css' %}"  />
        <!-- Custom Styles-->
        <link rel="stylesheet"  href="{% static 'home/css/menu.css' %}"  />
        <link rel="stylesheet"  href="{% static 'home/list/css/custom-styles.css' %}"  />
        <!-- Google Fonts -->
        <link rel="stylesheet"  href="{% static 'home/list/css/dataTables.bootstrap.css' %}"  />
    </head>
    <body>
        <div id="wrapper">
            {% include 'include/base.html' %}
            <div id="page-wrapper">
                <div class="header">
                    <ol class="breadcrumb page-header">
                        <h3 style="color: #27ae60;width: 230px ; border-bottom: 2px solid #27ae60;" ><i class="fa fa-globe" aria-hidden="true"></i>Thống kê cây xanh</h3>

                   </ol>

                </div>
                <div id="page-inner">
                    <div id="layoutSidenav_content">
                        <main>
                            <div class="row">
                                <div class="col-md-12" >
                                    <div class="row" style="margin-right: 0px;margin-left: 0px;margin-bottom:5px;">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="csssearch">
                                                <label>Loại cây:</label>
                                                <select name="loaicay_id" id="id_loaicay_id">
                                                    <option value="" selected>---------</option>
                                                    {% for loaig in loais %}
                                                    <option value="{{ loaig.ma_loai_cay}}">{{ loaig.ten_loai_cay}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="csssearch">
                                                <label   for="id_tinhtrang_id">Tình trạng:</label>
                                                {{queryset.form.tinhtrang_id}}
                                            </div>
                                            <div class="csssearch">
                                                <label for="id_duong_id">Tên đường:</label>
                                                {{queryset.form.duong_id}}
                                            </div>
                                            <div class="csssearch1">
                                                <label>Tháng trồng:</label>
                                                {{ queryset.form.month_joined }}
                                            </div>
                                            <div class="csssearch">
                                                <label for="id_duong_id">Tên cây:</label>
                                                {{queryset.form.ten_cay}}
                                            </div>

                                            <button class="submit-button" type="submit">Thống kê</button>
                                        </form>
                                    </div>
                                    <!-- Advanced Tables -->
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="container" style="width:996px;">
                                                    <h4 style="font-weight: bolder;text-align:center;padding-top: 0px;margin-bottom: 0px;">DANH SÁCH THỐNG KÊ</h4>
                                                    <div>
                                                        <div class="form-group" style="float:left;margin-bottom: 0;">
                                                            <!--		Show Numbers Of Rows 		-->
                                                            <label class="op" style="width: 230px;">
                                                                <select  name="state" id="maxRows"style="height: 40px;width:45%;border: 1px solid #dff0d8;padding: 10px;border-radius: 10px;">
                                                                    <option value="5000" >Tất cả</option>
                                                                    <option value="5" >5</option>
                                                                    <option value="10">10</option>
                                                                    <option value="15">15</option>
                                                                    <option value="20">20</option>
                                                                    <option value="50">50</option>
                                                                    <option value="70">70</option>
                                                                    <option value="100">100</option>
                                                                </select>
                                                                Chọn số hàng
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <table class=" table table-striped table-class " id= "table-id">
                                                        <thead>
                                                            <tr class="listnone" style="text-align:center;">
                                                                <th style="width:100px;text-align:center;">STT</th>
                                                                <th style="width:90px;">Mã cây</th>
                                                                <th style="width:120px;">Tên cây</th>
                                                                <th style="width:120px;">Loại cây</th>
                                                                <th>Vị trí</th>
                                                                <th style="width:110px;">Ngày trồng</th>
                                                                <th style="width:150px;">Tình trạng</th>
                                                                <th style="width:130px;">Tên đường</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for data in queryset.qs %}
                                                            <tr class="listnone">
                                                                <td style="text-align:center;">{{ forloop.counter }}</td>
                                                                <td>{{ data.ma_cay }}</td>
                                                                <td><a style="color:#333;" href="{% url 'qlcayxanh:inf_trees' data.ma_cay %}"> {{ data.ten_cay }}</a></td>
                                                                <td>{{ data.loaicay_id }}</td>
                                                                <td>{{ data.vitri }}</td>
                                                                <td>{{ data.ngaytrong|date:"d/m/Y"}}</td>
                                                                <td>{{ data.tinhtrang_id }}</td>
                                                                <td>{{ data.duong_id }}</td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                            <!--		Start Pagination -->
                                                        <div class='pagination-container'  style="text-align:center;">
                                                            <p id="demo" style="float:left;"></p>

                                                            <ul class="pagination" style="padding-top:20px;">
                                                                <li data-page="prev" >
                                                                    <span> Trước <span class="sr-only">(current)</span></span>
                                                                </li>
                                                                <!--	Here the JS Function Will Add the Rows -->
                                                                <li data-page="next" id="prev">
                                                                    <span> Tiếp <span class="sr-only">(current)</span></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- End Pagination -->
                                                </div>
                                                <!-- 		End of Container -->
                                                <!--  Developed By Yasser Mas -->
                                            </div>
                                        </div>
                                        <button id="btnExport"class="submit-button1"  style="float:right;" onclick="fnExcelReport();"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất file </button>
                                    </div>

                                    <!--End Advanced Tables -->
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
         <script>
            var x = document.getElementById("table-id").rows.length -1;
            document.getElementById("demo").innerHTML = "Tổng số hàng: " + x;
        </script>
        <script type="text/javascript" src="{% static 'home/list/js/jquery-1.10.2.js' %}">  </script>
        {% include 'include/filescript.html' %}
     <script type="text/javascript" src="{% static 'home/statis/js/export.js' %}">  </script>
    <script src="{% static 'home/statis/js/pagination.js' %}"></script>

    </body>
</html>