{% load static %}

<!--    menu-->
    <script type="text/javascript" src="{% static 'home/js/jquery-1.10.2.js' %}">  </script>

    <script type="text/javascript" src="{% static 'home/js/jquery.metisMenu.js' %}">  </script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}">  </script>
    <!-- Metis Menu Js -->
    <!--full screen  Js -->
    <script type="text/javascript" src="{% static 'home/js/morris/raphael-2.1.0.min.js' %}">  </script>
    <script type="text/javascript" src="{% static 'home/js/morris/morris.js' %}">  </script>
    <script type="text/javascript" src="{% static 'home/js/Lightweight-Chart/jquery.chart.js' %}">  </script>
    <!-- Custom Js -->
    <script type="text/javascript" src="{% static 'home/js/custom-scripts.js' %}">  </script>