 button:focus{
                outline: 0;
            }
            select:focus{
                outline: 0;
            }
            .leaflet-control-attribution{
                display:none;
            }
            a.leaflet-bar-part{
                display:none;
            }
 /*menu layer*/
 .mapboxgl-ctrl-group {
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    background: #fff;
    }
    .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin: 0 0 10px 65px;
    float: left;
    }
    .mapboxgl-ctrl-group:not(:empty) {
    -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }
    .mapboxgl-ctrl-group > button + button {
    border-top: 0;
    }
    /* end style menu layer */
   
    .legend {
    position:absolute;
    bottom:60px;
    right:10px;
    line-height: 18px;
    color: #555;
    border-radius: 10px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding:10px;
    
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #555;
    }
.legend i {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    
    }
    div#search {
        background-color: white;
        position: absolute;
        bottom: 150px;
        left: 40px;
        width: auto;
        height: auto;
        padding: 10px;
      }
      div#search input {
        width: 200px;
      }
      div#results {
        font-style: sans-serif;
        color: black;
        font-size: 75%;
      }
        

/* Thống kê */
.statiss {
      width: 25px;
    position: relative;
    bottom: 400px;
    left: 10px;
    color: #1978cf;
    background-clip: padding-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    top: 150px;
    background:#fff
     width: 30px;
  height: 30px;
  }
.statiss a {
    border-bottom: 1px solid #ccc;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    background-size: 16px 16px;
    display: block;
    border-radius: 2px;
    background-color: #fff;
}
.statiss a:hover {
  background-color: rgb(243, 241, 241);
}
.leaflet-tooltip.my-labels {
      background-color: transparent;
      border: transparent;
      box-shadow: none;
      font-weight: bold;
      font-size: 13px;
      color:#2196f3;
      text-transform: uppercase;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
.marker-pin {
    z-index: 429;
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 50% 50%;
    background: #11ca11;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: 10px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;

    position: absolute;
    border-radius: 50%;
}


.custom-div-icon i {
    position: absolute;
    width: 22px;
    font-size: 22px;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
}

