<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <style>
            table tbody tr.listnone:hover {
            background-color: #ebfdf1;
            }
        </style>
        {% include 'include/includecss.html' %}
        <link rel="stylesheet"  href="{% static 'home/list/css/bootstrap.css' %}"  />
        <!-- Custom Styles-->
        <link rel="stylesheet"  href="{% static 'home/css/menu.css' %}"  />
        <link rel="stylesheet"  href="{% static 'home/list/css/custom-styles.css' %}"  />
        <link rel="stylesheet"  href="{% static 'home/list/css/dataTables.bootstrap.css' %}"  />
    </head>
    <body>
        <div id="wrapper">
            {% include 'include/base.html' %}
            <div id="page-wrapper">
                <div class="header">
                    <ol class="breadcrumb page-header">
                        <h3 style="color: #27ae60;width: 250px ; border-bottom: 2px solid #27ae60;" ><i class="fa fa-tasks"></i>  Danh sách ranh giới</h3>
                            <a href="{% url 'qlcayxanh:add_boundary' %}"  class="d-none d-sm-inline-block btn btn-sm btn-primary btn-icon-split shadow-sm">
                                <span class="icon text-white-50">
                                <i class="fa fa-plus-square-o"></i>
                                </span>
                                <span class="text">Thêm</span>
                            </a>
                    </ol>
                </div>
                <div id="page-inner">
                    <div id="layoutSidenav_content">
                        <main>
                            {% include 'home/error/_messages.html' %}
                            <div class="row">
                                <div class="col-md-12" >
                                    <!-- Advanced Tables -->
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div>
                                                    <form method="GET" >
                                                        <input class="form-control"type="text"style="float:left;width:22%;padding: 10px;border-radius: 6px;"  name="q" value="{{ request.GET.q }}"title="Nhập mã hoặc tên ranh giới cần tìm" placeholder="Nhập mã hoặc tên cần tìm...">
                                                        <button class="btn btn-success" type="submit" name="action">Search</button>
                                                     </form>
                                                </div>
                                                <div class="container">
                                                    <table  class=" table table-striped table-class " id= "table-id">
                                                        <thead>
                                                            <tr class="listnone">
                                                                <th style="width:100px;">Mã ranh giới</th>
                                                                <th style="width:120px;">Loại ranh giới</th>
                                                                <th style="width:150px;">Tên ranh giới</th>
                                                                <th style="width:200px;">Geom</th>
                                                                <th style="width:160px;">Ghi chú</th>
                                                                <th style="width:100px;">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for data in page_obj %}
                                                            <tr class="listnone">
                                                                <td>{{data.ma_ranh_gioi}}</td>
                                                                <td>{{ data.type_ranh_gioi }}</td>
                                                                <td><a style="color:#333;" href="{% url 'qlcayxanh:inf_boun'  data.ma_ranh_gioi%}">{{data.ten_ranh_gioi}}</a></td>
                                                                <td>{{ data.geom }}</td>
                                                                <td>{{data.ghichu}}</td>
                                                                <td style="text-align: center;">
                                                                    <a class="btn btn-success " href="{% url 'qlcayxanh:update_boundary' data.ma_ranh_gioi %}" title="Chỉnh sửa">
                                                                    <i class="fa fa-edit"></i>
                                                                    </a>
                                                                    <a class="btn btn-danger " data-toggle="modal" data-target="" data-id="4" data-name="1111" title="Xoá popup" href="#delete-boun-{{data.ma_ranh_gioi}}">
                                                                    <i class="fa fa-trash-o"></i>
                                                                    </a>
                                                                </td>
                                                                <div class=" modal fade"role="dialog"aria-hidden="true" id="delete-boun-{{data.ma_ranh_gioi}}">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button style=" margin-top: 10px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                                <h4 class="modal-title">Xác nhận xóa!!!</h4>
                                                                            </div>
                                                                            <form action="{% url 'qlcayxanh:delete_boundarypopup' data.ma_ranh_gioi %}" method="post">
                                                                                {% csrf_token %}
                                                                                <div class="modal-body">
                                                                                    <h4>Bạn có chắc chắn muốn xóa "{{data.ma_ranh_gioi}}"?</h4>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit" class="btn btn-danger btn-md">Xóa</button>
                                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                    <!--		Start Pagination -->
                                                    <div class="pagination-container"  style="display: flex;align-items: center;justify-content: center;">
                                                        <div class=''>
                                                            Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}
                                                        </div>
                                                        <ul class="pagination align-right float-right mr-auto">
                                                            {% if page_obj.has_previous %}
                                                            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                                                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Trước</a></li>
                                                            {% endif %}
                                                            {% if page_obj.has_next %}
                                                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Sau</a></li>
                                                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- 		End of Container -->
                                                <!--  Developed By Yasser Mas -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Advanced Tables -->
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'home/list/js/jquery-1.10.2.js' %}">  </script>
        <script type="text/javascript" src="{% static 'home/list/js/showlist.js' %}">  </script>
        <!-- Bootstrap Js -->
        {% include 'include/filescript.html' %}
    </body>
</html>