<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load leaflet_tags %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
     {% include 'include/includecss.html' %}

    <link rel="stylesheet"  href="{% static 'home/tcotrees/css/bootstrap.css' %}"  />
    <!-- Custom Styles-->
    <link rel="stylesheet"  href="{% static 'home/css/menu.css' %}"  />
    <link rel="stylesheet"  href="{% static 'home/tcotrees/css/addtcotree.css' %}"  />
    <link type="text/css" rel="stylesheet" href="{% static 'home/tcotrees/css/web.assets_common.0.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'home/tcotrees/css/web.assets_backend.0.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'home/tcotrees/css/web.assets_backend.1.css' %}"/>
    <!-- show map -->
    <script src="{% static 'home/tcotrees/css/jsi18n/' %}">  </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" type="text/css" media="all" rel="stylesheet">
    <link  href="{% static 'home/tcotrees/css/ol3.css' %}"  type="text/css" media="all" rel="stylesheet" />
    <script src="{% static 'home/tcotrees/js/jquery.js' %}">  </script>
    <script src="{% static 'home/tcotrees/js/ol.js' %}">  </script>
    <script src="{% static 'home/tcotrees/js/jquery.init.js' %}">  </script>
    <script src="{% static 'home/tcotrees/js/OLMapWidget.js' %}">  </script>
    <script src="{% static 'home/tcotrees/js/core.js' %}">  </script>
    <script src="{% static 'home/tcotrees/js/RelatedObjectLookups.js' %}">  </script>
    <script src="{% static 'home/tcotrees/js/actions.js/' %}">  </script>
    <script src="{% static 'home/tcotrees/js/urlify.js' %}">  </script>
    <script src="{% static 'home/tcotrees/js/prepopulate.js' %}">  </script>
    <script src="{% static 'home/tcotrees/js/xregexp.js' %}">  </script>
    </head>
    <body>
        <div id="wrapper">
            {% include 'include/base.html' %}
            <div id="page-wrapper">
                <div class="header">
                    <div class="row user-infos cyruxx">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1"></div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Sửa thông tin chăm sóc cây</h1>
                            </div>
                            <div class="panel-body">
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
{% endif %}
                                <!-- DỰ ÁN MỚI -->
                                <div class="o_content">
                                    <div class="o_view_controller">
                                        <div class="o_form_view o_form_editable">
                                            <div class="o_form_sheet_bg">
                                                <div class="clearfix o_form_sheet">
                                                    <div class="o_group">
                                                        <form class="form-inline my-2 my-lg-0"   method="POST">
                                                            {% csrf_token %}
                                                            <table class="o_group o_inner_group o_group_col_6">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="o_td_label"><label class="o_form_label o_required_modifier"  for="id_cong_viec">Công việc:</label></td>
                                                                        <td style="width: 100%;"><input class="o_field_char o_field_widget o_input o_required_modifier" type="text" name="cong_viec"  value="{{ tcotree.cong_viec }}"required id="id_cong_viec" ></td>
                                                                    </tr>
                                                                    <tr> {{ form.ngaytrong.errors }}
                                                                        <td class="o_td_label"><label class="o_form_label o_required_modifier" for="id_ngay_cham_soc">Ngày chăm sóc:</label></td>
                                                                        <td style="width: 100%;"><input class="o_field_char o_field_widget o_input o_required_modifier" type="date" name="ngay_cham_soc" id="id_ngay_cham_soc" value='{{ tcotree.ngay_cham_soc|date:"Y-m-d" }}'></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table class="o_group o_inner_group o_group_col_6"><tbody>
                                                                <tr>
                                                                    <td class="o_td_label"><label class="o_form_label o_required_modifier" for="id_nhanvien_id">Nhân viên:</label></td>
                                                                    <td style="width: 100%;">
                                                                       {{ form.nhanvien_id }}
                                                                         <!-- Sửa -->
                                                                        <a class="related-widget-wrapper-link add-related"
                                                                         href="{% url 'qlcayxanh:update_staffs' tcotree.nhanvien_id_id %}" onclick="return popitup('/index/update_staffs/{{tcotree.nhanvien_id_id}}/')"
                                                                         title="Sửa nhân viên khác"><img src="/static/admin/img/icon-changelink.svg" alt="Edit"></a>
                                                                       <!-- Thêm nhân viên -->
                                                                       <a class="related-widget-wrapper-link add-related"
                                                                       href="{% url 'qlcayxanh:addstaffs' %}"onclick="return popitup('/index/add_staff')"
                                                                       title="Thêm nhân viên khác"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
                                                                    </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="o_td_label"><label class="o_form_label o_required_modifier" for="id_cayxanh_id">Cây xanh:</label></td>
                                                                        <td style="width: 100%;">
                                                                           {{ form.cayxanh_id }}
                                                                             <!-- Sửa -->
                                                                             <a class="related-widget-wrapper-link add-related"
                                                                             href="{% url 'qlcayxanh:update_trees' tcotree.cayxanh_id_id %}" onclick="return popitup1('/index/update_trees/{{tcotree.cayxanh_id_id}}/')"
                                                                             title="Sửa đường giao thông khác"><img src="/static/admin/img/icon-changelink.svg" alt="Edit"></a>
                                                                           <!-- Thêm cây -->
                                                                           <a class="related-widget-wrapper-link add-related"
                                                                           href="{% url 'qlcayxanh:addcayxanh' %}"onclick="return popitup1('/index/add_tree')"
                                                                           title="Thêm cây xanh khác"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
                                                                        </td>
                                                                        </tr>
                                                                </tbody>
</table>
                                                    <div class="post_center" style="margin-top:66px;">
                                                        <button class="submit-btn" type="submit" >Cập nhật</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <a class="quayve" href="{% url 'qlcayxanh:lists_tcotrees' %}">Quay về danh sách</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                    -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
    <script language="javascript" type="text/javascript">
    function popitup(url) {
        newwindow=window.open(url,'{{title}}','height=626,width=1000');
        if (window.focus) {newwindow.focus()}
        return false;
    }
    </script>
    <script language="javascript" type="text/javascript">
        function popitup1(url) {
            newwindow=window.open(url,'{{title}}','height=600,width=1200');
            if (window.focus) {newwindow.focus()}
            return false;
        }
    </script>
        {% include 'include/filescript.html' %}
    <script src="{% static 'home/tcotrees/js/validuser.js' %}"></script>
    </body>
</html>