
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {text-decoration: none;background-color: #4D4D4D;color: #fff;}

.top-navbar{
margin:0px;

}
.top-navbar .navbar-brand {color: #fff;width: 260px;text-align: left;height: 60px;font-size: 20px;font-weight: 700;/* text-transform: uppercase; */line-height: 30px;background: #2b78d1;}
.navbar-brand b{
color: #4BD28C;
}
.top-navbar .nav > li {
position: relative;
display: inline-block;
margin: 0px;
padding: 0px;
}
.top-navbar .nav > li > a {
position: relative;
display: block;
padding: 20px;color: #FFFFFF;
margin: 0px;}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
color: #319DB5 !important;
background: transparent;
}
.top-navbar .nav > li > a > i:hover {
color: #319DB5 !important;
}
.top-navbar .dropdown-menu{
min-width: 230px;
border-radius: 0 0 4px 4px;
border: 0;}
.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus{
color: #225081;
background:none;
}
.top-navbar {
	background: #8BC34A !important;
	border-bottom:none;
}
.top-navbar .nav > li > a > i {
margin-right: 2px;
}
.top-navbar .navbar-brand:hover {color: #FFFFFF;background-color: #F36A5A;}
.dropdown-user li {
margin: 8px 0;
}.top-navbar{
position: fixed;
  width: 100%;
  z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}
.dropdown-menu>li>a i {
  color: #1F1F1F;
}
.nav > li > a > i {
    margin-right: 10px;
    color: white;
}
.modal-header {
background: #e5f3f3;
}
.table {
margin-bottom:0px;
}
.modal-body{
padding:25px;
}
.force-scroll {
overflow-y: scroll;

height: 570px;
  }
.force-scroll ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.text-danger {
    color: #FF4961 !important;
}
.profile-pic {
    width: 30px;
    border-radius: 50%;
}
a.quayve{
color:green;
}
a.quayve:hover{
color:blue;
}