<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Script Tutorials" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet"  href="{% static 'home/css/footer.css' %}"  />
</head>
<body>
 
    <footer>
        <div class="splitter"></div>
        <ul>
        </ul>
 
        <div class="bar">
            <div class="bar-wrap">
                <ul class="links">
                    <li><a href="#">WEBGIS - QUẢN LÝ CÂY XANH Đô THỊ</a></li>
                </ul>
 
                <div class="social">
                  <a class="adress">
                    <span data-icon="n" class="icon"></span>
                    <span class="info">
                        <span class="follow">Địa chỉ:</span>
                        <span class="follow">Tam Kỳ, Quảng Nam</span>
                    </span>
                </a>
     
                <a class="phone">
                    <span data-icon="P" class="icon"></span>
                    <span class="info">
                        <span class="follow">Điện thoại:</span>
                        <span class="follow">0646474569</span>
                    </span>
                </a>
     
                <a class="email">
                    <span data-icon="m" class="icon"></span>
                    <span class="info">
                        <span class="follow">Email:</span>
                        <span class="follow">abc@gmail.com</span>
                    </span>
                </a>
                    <!-- social icons are here -->
                </div>
                <div class="clear"></div>
                <div class="copyright">&copy;  2021 All Rights Reserved</div>
            </div>
        </div>
    </footer>
 
</body>
</html>