.csssearch{
        width:100px;
        float:left;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
}
select{
    width:130px;
}
.csssearch1{
        width:90px;
        float:left;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 0px;
        margin-left: 25px;

}
input{
        margin:20px;
        width:120px;
}